
body {
  background-color: #EEEEEE;
  font-family: RobotoDraft, Helvetica, Arial, sans-serif;
}

.title-link,
.title-link:hover,
.title-link:active,
.title-link:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.prev-post-title,
.next-post-title {
  line-height: 40px;
}

.prev-post-title a,
.next-post-title a {
  color: #777;
  text-decoration: none;
}

.prev-post-title a:hover,
.next-post-title a:hover {
  color: #333;
  text-decoration: underline;
}

.prev-post-title {
  padding-left: 8px;
  text-align: left;
}

.next-post-title {
  padding-right: 8px;
  text-align: right;
}

.titlebar {
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.25)
    ),
    url('https://lh4.googleusercontent.com/-iZj4q1D_cJ8/U_lD-RwkL9I/AAAAAAAAAdQ/OIf-7FAMGcM/w1600-h1066-no/IMG_3316.jpg');
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  transition-property: height, font-size;
}

.titlebar.tall {
  font-size: 2.6em;
  bottom: 100%;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.card {
  background-color: #FFFFFF;
  margin: 1em;;
  padding: 1em;
  text-align: justify;
  border-radius: 2px;
}

.card,
.pagination {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
}

.pagination paper-fab {
  background-color: #1a237e;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.870588);
}

.post-title {
  font-size: 2em;
  font-weight: bold;
}

.post-title a {
  text-decoration: none;
  color: #222;
}

.post-title a:hover {
  text-decoration: underline;
}

.post-date {
  padding-bottom: 1em;
}

.footer .contact {
  float: none;
}
