
body {
  background-color: #EEEEEE;
  font-family: RobotoDraft, Helvetica, Arial, sans-serif;
}

.title-link,
.title-link:hover,
.title-link:active,
.title-link:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.titlebar {
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.25)
    ),
    url('https://lh4.googleusercontent.com/-iZj4q1D_cJ8/U_lD-RwkL9I/AAAAAAAAAdQ/OIf-7FAMGcM/w1600-h1066-no/IMG_3316.jpg');
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  transition-property: height, font-size;
}

.titlebar.tall {
  font-size: 2.6em;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.card {
  background-color: #FFFFFF;
  margin: 1em;
  padding: 1em;
  text-align: left;
  border-radius: 2px;
}

.card,
.navigation {
  margin-left: auto;
  margin-right: auto;
  max-width: 922px; /* fits 9 thumbnails perfectly */
}

.post-title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
}

.post-title a {
  text-decoration: none;
  color: #222;
}

.post-title a:hover {
  text-decoration: underline;
}

.post-date {
  padding-bottom: 1em;
}

.footer .contact {
  float: none;
}

photo-album {
  /* full bleed, card has 1em padding */
  margin-left: -1em;
  margin-right: -1em;
}

paper-fab {
  background-color: #1a237e;
  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.870588);
}

.prev-post, .next-post {
  position: absolute;
  bottom: 0.67em;
}

.prev-post {
  left: 0.67em;
}

.next-post {
  right: 0.67em;
}

.next-post-name {
  text-align: right;
}

.prev-post-name,
.next-post-name {
  line-height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
}

.prev-post-name a,
.next-post-name a {
  color: #777;
  text-decoration: none;
}

.prev-post-name a:hover,
.next-post-name a:hover {
  color: #333;
  text-decoration: underline;
}

.navigation {
  margin-bottom: 1em;
}

.post .navigation {
  padding-top: 1em;
  margin-bottom: 0;
}

/* Borrowed from Bootstrap v3.3.1 */
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
