---
layout: default
title: Photo Blog
---
{% for post in paginator.posts %}
  <div class="card">
    <paper-shadow z="1"></paper-shadow>
    <div class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
    <div class="post-date">{{ post.date | date_to_string }}</div>
    <div class="post">
      {{ post.content }}
    </div>
  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination" horizontal justified layout>
  <div>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      <paper-fab class="mini" icon="arrow-back"></paper-fab>
    </a>
  {% endif %}
  </div>

  <div>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      <paper-fab class="mini" icon="arrow-forward"></paper-fab>
    </a>
  {% endif %}
  </div>
</div>
{% endif %}